language: node_js

os:
  - linux
  - osx

node_js:
  - "6"
  - "8"
  - "10"
  - "12"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

install:
  - npm install --build-from-source

notifications:
  email: false

deploy:
  provider: script
  script:
    - npm run upload && npm run upload-electron
  skip_cleanup: true
  on:
    # Deploys happen for all tagged releases
    tags: true
    repo: balena-io/node-ext2fs
